{% extends "layout.html" %} {% block content %}

<div class="content">
    <div class="back-home">
        <a href="/" class="button">Back to Front Page</a>
    </div>

    <h2>Change Your Personal Data</h2>

    <form method="post">
        <!-- Fix for flaw 3 is to remove the hidden input -->
        <input type="hidden" name="target_user" value="{{ user.username }}" />
        Username:
        <input type="text" name="username" value="{{ user.username }}" /><br />
        Email: <input type="text" name="email" value="{{ user.email }}" /><br />
        First name:
        <input
            type="text"
            name="first_name"
            value="{{ user.first_name }}"
        /><br />
        Last name:
        <input
            type="text"
            name="last_name"
            value="{{ user.last_name }}"
        /><br />
        Phone number:
        <input type="text" name="phone" value="{{ user.phone_number }}" /><br />
        Change Password:
        <input
            type="password"
            name="password"
            placeholder="New password"
        /><br />

        <input type="submit" value="Update Data" />
    </form>
</div>

{% endblock %}
